{% capture logo_path %}{{ site.logo }}{% endcapture %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <!-- This is the beginning of top nav. i want a logo with the pyopensci text to the right of it 
      followed by the navigation in a clean row here. The  masthead 
      css classes above are all minimal mistakes themed elements. I am 
      adding a drop down to the minimimal mistakes theme below. 
      It's possible i am also fighting with existing styles. 
    
    -->
      <nav id="site-nav" class="nav-bar-flex">
        <!-- Begin logo and title-->
      {% unless logo_path == empty %}
      <a class="site-logo" href="{{ '/' | relative_url }}"><img src="{{ logo_path | relative_url }}" alt="{{ site.masthead_title | default: site.title }}"></a>
      {% endunless %}
      <a class="site-title" href="{{ '/' | relative_url }}">
        {{ site.masthead_title | default: site.title }}
        {% if site.subtitle %}<span class="site-subtitle">{{ site.subtitle }}</span>{% endif %}
      </a>
      <!-- End logo and title-->

      <!-- Here begins the confusion. There are two ways to create these types of menus
      i see examples that use a btn html item for the  item with the "dropdown below it"
      And here there's no UL/LI list elements but instead just links that are styled to visible or 
    hidden. When the page gets more narrow it turns into a "bars/ hamburger element"
        I have added css to make a line below each item on hover.
        
        ISSUES
        -----
        The menu is generally working when the screen is full size but gets weird when you 
        begin to make the screen more narrow (so i suspect it will look bad on mobile too)

        I'd also like the menu drop downs to fade in or look more soft. I tried to achieve that
        with opacity but if i do that, they get weird when it's in mobile mode with the 
        hamburger element driving the menu.

        Also there is an alignment issue where the logo and title aren't in line with the menu. I do 
        like the minimal mistakes approach of making the menu float to the right using flex:
  -->
      <div class="topnav" id="myTopnav">
        {%- for alink in site.data.navigation.main -%}
              {% if alink.sub-nav %}
              <div class="dropdown">
                <button class="dropbtn">{{ alink.title }}
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                  {% for subnav in alink.sub-nav %}
                  <a href="{{ subnav.url }}" class="masthead__menu-item hover-underline">{{ subnav.title }}</a>
                  {% endfor %}
                </div>
              </div>
              {% else %}
              <a href="{{ alink.url | relative_url }}" class="hover-underline">{{ alink.title }}</a>
              {% endif %}
        {% endfor %}
        <a href="javascript:void(0);" class="icon" onclick="myFunction()"><!--&#9776;--> <i class="fa fa-bars" aria-hidden="true"></i>
        </a>    
      </div> 
      </nav>
      </div>
    </div> 
  </div> 
</div> 

<!--
<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        {% unless logo_path == empty %}
          <a class="site-logo" href="{{ '/' | relative_url }}"><img src="{{ logo_path | relative_url }}" alt="{{ site.masthead_title | default: site.title }}"></a>
        {% endunless %}
        <a class="site-title" href="{{ '/' | relative_url }}">
          {{ site.masthead_title | default: site.title }}
          {% if site.subtitle %}<span class="site-subtitle">{{ site.subtitle }}</span>{% endif %}
        </a>
<!--
        <div class="topnav" id="myTopnav">
          {%- for alink in site.data.navigation.main -%}
                {% if alink.sub-nav %}
                <div class="dropdown">
                  <button class="dropbtn">{{ alink.title }}
                    <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-content">
                    {% for subnav in alink.sub-nav %}
                    <a href="{{ subnav.url }}" class="masthead__menu-item hover-underline">{{ subnav.title }}</a>
                    {% endfor %}
                  </div>
                </div>
                {% else %}
                <a href="{{ alink.url | relative_url }}" class="hover-underline">{{ alink.title }}</a>
                {% endif %}
          {% endfor %}
          <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776; </a>

        </div> 

      -->
        <!-- <i class="fas fa-bars"></i> -->
        {% if site.search == true %}
        <button class="search__toggle" type="button">
          <span class="visually-hidden">{{ site.data.ui-text[site.locale].search_label | default: "Toggle search" }}</span>
          <i class="fas fa-search"></i>
        </button>
        {% endif %}
        <button class="greedy-nav__toggle hidden" type="button">
          <span class="visually-hidden">{{ site.data.ui-text[site.locale].menu_label | default: "Toggle menu" }}</span>
          <div class="navicon"></div>
        </button>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>

<!-- do i need this in the footer or header somehow?-->
<script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
</script>

