---
# Only the main Sass file needs front matter (the dashes are enough)
---

$border-color: #ccc;
$intro-transition: intro 0.3s both !default;
$primary-color: #ccc;
$nav-font-color: #6f777d!important;
$global-transition: all 0.2s ease-in-out !default;

body {font-size:90%}

.contrib_org {font-weight:normal;
  font-size:70%!important;
  margin-bottom: 0!important;

}

/* Top nav drop down styles*/

 /* Add a black background color to the top navigation */
 .topnav {
  // background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: $nav-font-color;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Add an active class to highlight the current page */
.active {
  background-color: #04AA6D;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
  // font-size: 17px;
  border: none;
  outline: none;
  color: $nav-font-color;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  font-family: inherit;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  float: none;
  // color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
  // background-color: #ccc;
  // color: #fff;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #fff;
  color: rgb(57, 51, 51);
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the 
first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 1000px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

// add hover effect - removing for now until i figure out how to constrain it
// .topnav a:before {
//   content: "";
//   position: absolute;
//   left: 0;
//   bottom: 0;
//   height: 4px;
//   background: $primary-color;
//   width: 100%;
//   -webkit-transition: $global-transition;
//   transition: $global-transition;
//   -webkit-transform: scaleX(0) translate3d(0, 0, 0);
//   transform: scaleX(0) translate3d(0, 0, 0); // hide
// }

// .topnav a:hover:before {
//   -webkit-transform: scaleX(1);
//   -ms-transform: scaleX(1);
//   transform: scaleX(1); // reveal
// }

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. 
This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 800px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    font-size:3em;
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
} 

/* package cards splash */

.grid__wrapper {
  display: flex;
}

.card p {
  font-size: .9em
}

.cards h2 a {
  text-decoration: none;
  font-size: 1.2em;
}

/* author list */
.cards .page__meta-readtime {
  font-size: 1.1em;
}

.cards {
  display: block;
  top: 0px;
  position: relative;
  max-width: 362px;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  border: 1px solid #f2f8f9;

  &:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: white;
  }

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #00838d;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(2);
    transform-origin: 50% 50%;
    transition: transform 0.15s ease-out;
  }

  &:hover:before {
    transform: scale(2.15);
  }
}

/* Adjust font size on cards  */
.narrow {
  font-size: .92em!important;
}

/* Fix people page - allow for tall images */
.archive__item-teaser.tall {
  max-height: 320px!important;
}

h2.clearall {
  clear: both;
}

/* Fix buttons and text in notice boxes */
.notice--info .btn.btn--info {
  color:#fff;
}

.notice--info .archive__item-excerpt {
  font-size: .95em;
}

.notice--info h2 {
  font-size: 1.5em;
}

.notice--info h3 a, .notice--info h2 a:visited {
  font-size: 1.5em;
  text-decoration: none;
  font-size: 1.0em;
}

.wide__p_text{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66667%;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

/* Adding a 3 col grid */



@charset "utf-8";
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
